# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ropeproject/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
*/docs/_build/

# PyBuilder
target/

# IDEs
.idea/
*/db.sqlite3

# .pytest_cache/
.pytest_cache/

# huqas project
huqas_api/media/
huqas_api/static/
celerybeat-schedule
$CIRCLE_TEST_REPORTS
*pkg_resources*
*.retry

*env.sh
media/
prof/

.vscode/
*.sql
.history/
*.ipynb
venv
local.env
# celery
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# csv files
# *.csv

# env file
.env
data
*.gz
*.sqlite3
products.json
http_ca.crt
mac.env